body {
	background-color: #000;
	color: #FFF;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

.active {
	color: black;
	background-color: white;
}

.li-active {
	display: block;
	float: left;
	padding: 15px;
	color: black;
	background-color: white;
}

.nav {
	min-height: 48px;
	margin-bottom: 16px;
	background-color: #F82672;
	width: 100%;
	-webkit-padding-start: 0px;
}

.li-page {
	display: block;
	float: left;
	padding: 15px;
}

