body {
	background-color: #000;
	color: #FFF;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

.button {
	background-color: #AAA;
}

.a-button {
    color: #F82672;
    line-height: 2;
    display: block;
}

.active {
	color: black;
	background-color: white;
}

.li-active {
	display: block;
	float: left;
	padding: 15px;
	color: black;
	background-color: white;
}

.nav {
	min-height: 48px;
	margin-bottom: 16px;
	background-color: #F82672;
	width: 100%;
	-webkit-padding-start: 0px;
}

.li-page {
	display: block;
	float: left;
	padding: 15px;
}

.container {
	text-align: center;
}

table.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.leaguebox {
	text-align: center;
	align: center;
	margin-left: auto;
	margin-right: auto;
}